body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.hidden {
    opacity: 0;
}

nav {
    width: 100%;
    padding: 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    font-size: 18px;
}

#hero {
    text-align: center;
    margin-top: 200px;
}

#nameTitle {
    font-size: 5rem;
    letter-spacing: 5px;
}
